body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 200px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}
